*{
    box-sizing: border-box;
    margin: 0 auto;
}

.container{
    width: 1060px;
    height: auto;
    border: 1px solid black;
}

.heading{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #29507b;
}

.heading h1{
    position: absolute;
    color: white;
    top: 40px;
    left: 100px;
}

.heading p{
    position: absolute;
    color: white;
    left: 100px;
    top: 80px;
}

.heading ul{
    position: absolute;
    bottom: 0;
    right: 10px;
}

.heading ul li{
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #3c72b2;
    margin-left: 10px;
}

.heading ul li a{
    color: white;
    text-decoration: none;
}

.heading img{
    position: absolute;
    top: 25px;
    left: 20px;
}

.heading #search{
    position: absolute;
    right: 100px;
    top: 10px;
    height: 30px;
}

.heading #GO{
    position: absolute;
    top: 10px;
    right: 40px;
    height: 30px;    
}

.section{
    width: 70%;
    height: 500px;
    float: left;
}

.section h2{
    border-bottom: 3px dotted gray;
    color: gray;
    margin-top: 40px;
    padding-bottom: 15px;
    margin-left: 15px;
}

.sec1{
    width: 55%;
    height: 100%;
    float: left;
}

.sec1 p{
    margin-top: 15px;
    margin-left: 15px;
    color: red;
    text-shadow: 1px 4px 2px green;
}

.sec1 table p{
    color: black;
    text-shadow: none;
}

.sec1 #name #phone{
    margin-left: 15px;
}


.contact-form {
    width: 450px;
}

.form-group {
    margin-bottom: 12px;
}

.sec1 label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.sec1 input, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.sec1 textarea {
    resize: none;
}

.sec1 button {
    padding: 5px 12px;
    margin-right: 10px;
}

.row {
    display: flex;
    gap: 20px;
}

.col {
    flex: 1;
}
.contact-form {
    width: 95%;
}


.sec2{
    width: 45%;
    height: 100%;
    float: left;
    position: relative;
}
.sec2 ul li{
    color: gray;
    list-style: none;
}


.aside{
    width: 30%;
    height: 500px;
    float: right;
    position: relative;
}

.aside h2{
    border-bottom: 3px dotted gray;
    color: gray;
}

.aside .box{
    position: absolute;
    background-color: #f8f8f8;
    top: 100px;
}

.aside a{
    text-decoration: none;
    display: inline-block;
    margin-left: 200px;
    color: #193353;
    font-size: 20px;
}

.footer{
    width: 100%; 
    height: 80px;
    background-color: #193353;
    clear: both;
    text-align: center;
    justify-content: center;
}

.footer footer{
    color: white;
}



