*{
    box-sizing: border-box;
    margin: 0 auto;
}
.container{
    width: 1000px;
    height: 900px;
    border: 3px solid blue;
}
.banner{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #294e79;
}
.banner h1{
    color: white;
    position: absolute;
    top: 40px;
    left: 120px;
}
.banner p{
    color: white;
    position: absolute;
    top: 70px;
    left: 120px;
}
.banner ul li a{
    color: white;
    text-decoration: none;
}
.banner ul li{
    display: inline-block;
    padding: 15px;
    background-color: #3c72b2;
}
.banner ul{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.banner #sea{
    position: absolute;
    right: 100px;
    top: 10px;
    height: 30px;
}
.banner #GO{
    position: absolute;
    top: 10px;
    right: 40px;
    height: 30px;
}
.content1{
    width: 70%;
    height: 650px;
    float: left;
}
.content1 .left{
    width: 58%;
    height: 96%;
    margin-top: 4px;
    float: left;
}
.content1 .right{
    width: 38%;
    height: 96%;
    margin-top: 4px;
    float: left;
}
.content1 h3{
    height: 35px;
    padding: 5px;
    border-bottom: 3px dashed gray;
    color: gray;
    margin-right: 5px;
    margin-top: 10px;
}
.content1 .left p {
    color: red;
    text-align: justify;
    padding: 5px;
    text-shadow: 6px 6px 6px green;
}
.content2{
    width: 30%;
    height: 400px;
    float: left;
}
.content2 h3{
    height: 35px;
    padding: 5px;
    border-bottom: 3px dashed gray;
    color: gray;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 15px;
}
.content2 #border{
    width: 96%;
    height: 90%;
    background-color: #f3f4f6;
    margin-top: 30px;
    padding: 20px;
    margin-right: 5px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: #294e79;
    clear: both;
}

#tomau{
    background-image: linear-gradient(red, yellow);
}

#tochutrongosearch::-webkit-input-placeholder{
    color: white;
}