


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container{
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header{
    height: 100px;
    padding: 10px;
    position: relative;
}

.header img{
    float: right;
}

.header-border{
    width: 95%;
    height: 2px;
    background: orange;
    position: absolute;
    bottom: 0;
    right: 5%;
}

/* NAV */
.nav{
    width: 25%;
    float: left;
    background-image: url(../img/back.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    min-height: 800px;
}

.nav ul li{
    list-style: none;
    padding: 10px;
    border-bottom: 2px dashed orange;
}

.nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/* MAIN */
.main{
    width: 75%;
    float: left;
    padding: 15px;
}

.start h1{
    margin-bottom: 10px;
}

.start p{
    margin-bottom: 20px;
    line-height: 1.5;
}

/* CONTENT */
.content{
    overflow: hidden;
}

.content p{
    margin-bottom: 15px;
    line-height: 1.5;
}

/* BOX */
.box{
    width: 260px;
    float: right;
    border: 2px solid orange;
    margin: 0 0 10px 15px;
    padding: 10px;
    background: #fff;
}

.box h3{
    background: orange;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 18px;
}

.box ul{
    padding-left: 20px;
}

.box ul li{
    margin-bottom: 6px;
    font-size: 14px;
}

/* FOOTER */
.footer{
    clear: both;
    height: 40px;
    background: gray;
}
