.container{
    background-image: linear-gradient(#6cc9eb, #5da5ef);
}
#d2, #d3{
    border-top: 3px dotted white;
}
h3, #d4 {
    color: #0011f5;
    text-shadow: 2px 2px 0 #0011f5;
}
h1{
    text-shadow:
        -2px -2px 3px #51599e,
        2px -2px 3px #51599e,
        -2px  2px 3px #51599e,
        2px  2px 3px #51599e;
}
table tr #title{
    width: 170px;
    vertical-align: top;
    color: white;
}
table tr td p{
    color: white;
}
textarea{
    resize: none;
}
#input input, #input select, #input textarea {
    width: 170%;
}
table{
    margin-left: 15px;
}