*{
    box-sizing: border-box;
    margin: 0 auto;
}
#box-border{
    width: 1000px;
    height: 600px;
    border: 1px solid red;
}
#header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid brown;
}
#header h1{
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    text-shadow: 18px 18px 10px pink;
    color: brown;
    font-style: initial;
    font-style: italic;
}
#menu-horizone{
    width: 100%;
    height: 42px;
    border-bottom: 1px solid brown;
    background-color: pink;

}
#menu-horizone ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
#menu-horizone ul li{
    display: inline-block;
    /* line-height: 45px;
    margin-left: 5px; */
}
#menu-horizone ul li a{
    display: inline-block;
    padding: 10px 20px;
    background-color: pink;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid blue;
}
#search-menu{
    float: right;
    margin-right: 8px;
    margin-top: 8px;
}
#search-menu input{
    width: 140px;
    height: 25px;
}
#content{
    width: 100%;
    height: 356px;
}
#content h1{
    text-transform: capitalize;
    color: brown;
    background-color: beige;
}
#content ul li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.highlight{
    text-transform: uppercase;
    color: goldenrod;
}
a{
    color: red;
}