*{
    box-sizing: border-box;
    margin: 0 auto;
}
#box-border{
    width: 1000px;
    height: 600px;
    border: 1px solid red;
}
#header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid brown;
}
#header h1{
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    text-shadow: 18px 18px 10px pink;
    color: brown;
    font-style: initial;
    font-style: italic;
}
#menu-horizone{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid brown;
}
#menu-horizone ul li{
    display: inline-block;
    line-height: 45px;
    margin-left: 5px;
}
#menu-horizone ul li a{
    text-decoration: none;
    text-transform: capitalize;
}
#content{
    width: 100%;
    height: 358px;
}
#content h1{
    text-transform: capitalize;
    color: brown;
    background-color: beige;
}
#content ul li{
    
}