*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 960px;
    height: 2000px;
    border: 1px solid blue;
    margin: 0 auto;
}

.nav{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #212429;
}

.nav ul{
    position: absolute;
    top: 60px;
    left: 300px;

    display: flex;
    gap: 40px;   
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    color:#d6bb16;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 250px
}
.content .section{
    width: 70%;
    height: 500px;
    float: left;
    /*background-color: yellow;*/
}
.content .aside{
    width: 30%;
    height: 500px;
    float: left;
    background-color: turquoise;
}
.content .section .table{
    width: 50%;
    height: 100%;
    float: left;
    background-color: violet;
}
.content .section .form{
    width: 50%;
    height: 100%;
    float: left;
    background-color: green;
}
.footer{
    width: 100%;
    height: 230px;
    background-color: #212429;
    clear: both;
}