*{
    box-sizing: border-box;
    margin: 0 auto;
}
#box{
    width: 900px;
    height: 605px;
    border: 3px solid black;
}
#head{
    width: 100%;
    height: 100px;
    /*border-bottom: 1px solid #bb6a56;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3a230;
}
#menu{
    width: 100%;
    height: 50px;
    /*border-bottom: #bb6a56;*/
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #bb6a56;
}
#menu img{
    height: 25px;
    width: auto;
}
#main{
    width: 100%;
    height: 400px;
    background-color: #e0c28d;
}
#main h1{
    margin-left: 50px;
    font-size: 50px;
    color:#e8420e;
}
#main th{
    display: flex;
    justify-items: center;
    align-items: top;
}
#main img{
    width: 263px;
    height: 300px;
}
#footer{
    width: 100%;
    height: 50px;
    background-color: #e3a230;
    display: inline-block;
    justify-self: left;
}
#footer p{
    margin-left: 10px;
    font-size: small;
}