*{
    box-sizing: border-box;
    margin: 0 auto;
}
#box{
    width: 900px;
    height: 2405px;
    border: 3px solid black;
}

#head{
    width: 100%;
    height: 100px;
    /*border-bottom: 1px solid #bb6a56;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3a230;
}

#menu{
    width: 100%;
    height: 50px;
    /*border-bottom: #bb6a56;*/
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #bb6a56;
}
#menu img{
    height: 25px;
    width: auto;
}

#main{
    width: 100%;
    height: 2200px;
    background-color: #e0c28d;    
}
#main img{
    width: 263px;
    height: 300px;
    margin-left: 318.5px;
    margin-top: 50px;
}
#main table, th{
    border-collapse: collapse;
    border: 3px solid black
}
#main th{
    width: 150px;
    background-color: #bb6a56;
}
#content h1{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 50px;
    color:#e8420e;
}
#content span{
    font-size: small; 
    font-style: italic;
    margin-left: 40px;
}
#content p, ul{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: #c0afaa;
    border: 1px dashed gray;
    border-radius: 30px;
}
#content li{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: #ede9e8;
    border: 1px dashed gray;
    border-radius: 30px;
}

#footer{
    width: 100%;
    height: 50px;
    background-color: #e3a230;
    display: inline-block;
    justify-self: left;
}
#footer p{
    margin-left: 10px;
    font-size: small;
}