*{
    box-sizing: border-box;
    margin: 0 auto;
}

.container{
    width: 960px;
    height: auto;
    border: 1px solid #0000ff;
    background-image: linear-gradient(to bottom, #6cc9eb, #5da5ef);
}

.nav{
    position: relative;
    width:  100%;
    height: 50px;
    border-bottom: 1px dotted white;
    border-width: 6px;
}

.nav h1{
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
    text-shadow:
        -2px -2px 3px #51599e,
         2px -2px 3px #51599e,
        -2px  2px 3px #51599e,
         2px  2px 3px #51599e;
}

.nav ul{
    position: absolute;
    top: 7px;
}

.nav ul li{
    display: inline-block;
    padding-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-style: initial;
    font-size: 150%;
}

.section{
    width: 50%;
    height: 460px;
    float: left;
}
.section h1 {
    margin-left: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
    color: white;
}
.section p{
    color: white;
    margin-left: 10px;;
}

.section table tr #title{
    width: 170px;
    vertical-align: top;
    color: white;
}

.section table tr td p{
    color: white;
}
.section  textarea{
    resize: none;
}

.aside{
    width: 50%;
    height: 460px;
    float: left;
}

.aside img{
    margin-top: 30px;
}

.aside #text{
    margin-top: 30px;
    margin-left: 40px;
    color: #0011f5;
}

.aside #text h4{
    margin-left: 42px;
}

.aside #text h1{
    text-shadow: 2px 2px #0011f5;
}

.footer{
    width: 100%;
    height: 70px;
    clear: both;
    border-top: 1px dotted white;
    border-width: 6px;
    text-align: center;
}
.footer footer{
    margin-top: 20px;
    color: white;
}