            *{
                box-sizing: border-box;
                margin: 0 auto;
            }
            #khung{
                width: 1000px;
                height: 600px;
                border: 1px solid red;
            }
            header {
                width: 100%;
                height: 100px;
                border-bottom: 1px solid brown;
            }
            header h1{
                text-align: center;
                text-transform: uppercase;
                line-height: 100px;
                text-shadow: 18px 18px 10px pink;
                color: brown;
                font-style: initial;
                font-style: italic;
            }
            #nav-menu{
                width: 100%;
                height: 40px;
                border-bottom: 1px solid brown;
            }
            #nav-menu ul li{
                display: inline-block;
                line-height: 45px;
                margin-left: 5px;

            }
            #nav-menu ul li a{
                text-decoration: none;
                text-transform: capitalize;
            }
            section{
                width: 100%;
                height: 358px;
            }
            section h1{
                text-transform: capitalize;
                color: brown;
                background-color: beige;
            }
            section ul li{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .hoa{
                text-transform: uppercase;
                color: rgb(220, 173, 115);

            }
            section ul li span{
                color: red;
                text-decoration: underline;
            }